vaadin-scroller[slot='drawer'] {
  flex: auto;
  padding: var(--lumo-space-s);
}

[slot='drawer']:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot='drawer']:is(header, footer):is(:empty) {
  display: none;
}


.chat-history-container {
  width: 800px;
  margin-bottom: 50px;
}

.message {
  display: flex;
  flex-direction: row;
}

.message-header * {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  background-color: transparent !important;
  border-bottom: 1px solid grey;
  border-radius: 0 !important;
}

.message .author {
  margin: 5px;
  flex: 1;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
}

.message .text {
  margin: 5px;
  flex: 3;
}